127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
10.10.100.101 master-1.test.tjiptv.net
10.10.100.102 master-2.test.tjiptv.net
10.10.100.103 master-3.test.tjiptv.net
10.10.100.111 node-1.test.tjiptv.net
10.10.100.112 node-2.test.tjiptv.net
10.10.100.113 node-3.test.tjiptv.net
10.10.100.114 node-4.test.tjiptv.net
10.10.100.115 node-5.test.tjiptv.net
10.10.100.116 node-6.test.tjiptv.net